body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#0b1026,#2b0f4d);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.card{
    width:90%;
    max-width:380px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:30px;
    text-align:center;
    box-shadow:0 0 25px rgba(255,105,180,.4);
}

h1{
    font-size:42px;
}

p{
    font-size:20px;
    color:#ddd;
}

button{
    margin-top:20px;
    padding:15px 40px;
    border:none;
    border-radius:40px;
    font-size:22px;
    color:white;
    background:linear-gradient(90deg,#ff4da6,#8a5cff);
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
  }
