body{
margin:0;
font-family:Arial,sans-serif;
background:linear-gradient(135deg,#ff4d8d,#7b2ff7);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
text-align:center;
}

.container{
padding:30px;
width:90%;
max-width:360px;
background:rgba(255,255,255,.08);
border-radius:20px;
}

button{
padding:15px 35px;
font-size:20px;
border:none;
border-radius:40px;
background:white;
color:#ff1493;
font-weight:bold;
margin:10px;
}
